body {
	display: grid;
	grid-template-columns: 1fr 960px 1fr;
	font-family: "Open Sans",sans-serif;
	margin: 0;
}
#background {
	display: grid;
	grid-column: 1 / 4;
	grid-template-columns: 1fr 960px 1fr;
	grid-template-rows: auto;
	min-height: 1318px;
}
#page {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-column: 1 / 4;
	grid-row: 2 / 3;
	width: 100%;
	margin-top: -7%;
}

img {
	border: 0;
}

/*------------------------------ HEADER ------------------------------*/
header {
	grid-column: 1 / 4;
	grid-row: 1 / 2;
	height: 80px;
	background-color: rgba(45,45,45,.9);
}

/** Navigation **/
nav {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	clear: both;
	height: 50px;
	width: 100%;
	margin: 14px auto !important;
	padding: 1px;
}

nav div:first-of-type {
	grid-column-start: 1;
}

nav div.logo-box {
	margin-left: 40px;
	width: 200px;
}

nav div.menu-box {
	height: 49px;
	width: 122px;
	margin: 0;
	padding-left: 1px;
	text-align: center;
}

nav div.menu-box a {
	color: #fff;
	display: block;
	font: bold 14px/48px Arial, Helvetica, sans-serif;
	height: 49px;
	text-decoration: none;
	text-transform: uppercase;
}

nav div.menu-box a:hover {
	color: #6d6157;
}
nav div.menu-box a#selected {
	color: #e4e1bd;
    border-bottom: 2px solid #d7ce8d;
}

#navigation {
	clear: both;
	height: 50px;
	width: 860px;
	margin: 0 auto;
	padding: 1px;
}
#navigation ul {
	display: inline-block;
	width: 860px;
	list-style: none;
	margin: 0;
	padding: 0;
}
#navigation li {
	float: left;
	height: 49px;
	width: 122px;
	margin: 0;
	padding-left: 1px;
	text-align: center;
}
#navigation li:first-child {
	background: none;
	margin-left: 0;
	padding-left: 0;
}
#navigation li a {
	color: #fff;
	display: block;
	font: bold 14px/48px Arial, Helvetica, sans-serif;
	height: 49px;
	text-decoration: none;
	text-transform: uppercase;
}
#navigation li a:hover {
	color: #6d6157;
}
#navigation li.selected a {
	color: #e4e1bd;
}
/*------------------------------ CONTENTS ------------------------------*/
#contents {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-row: 2 / 3;
	width: 100%;
}
#contents h1 {
	color: white;
	font: 26px/30px "Open Sans",sans-serif;
	margin: 18px 20% 20px;
	padding-left: 2px;
	text-transform: uppercase;
}
#contents div.body h1, #contents h2 {
	color: #316e66;
	font: 30px/30px "Open Sans",sans-serif;;
	margin: 0 0 18px;
	text-transform: uppercase;
}
#contents h2 {
	font-size: 22px;
	margin: 0 0 30px;
}
#contents h2 a {
	color: #2c9688;
	text-decoration: none;
}
#contents p {
	color: #5a4535;
	font-size: 15px;
	line-height: 30px;
	margin: 0;
	padding: 0 0 24px 2px;
}
#contents p a {
	color: #5a4535;
}
#contents p a:hover, #news div.sidebar ul li a:hover {
	color: #917157;
}
/** Adbox **/
#adbox {
	grid-column: 1 / 3;
	grid-row: 1 / 2;
	width: 100%;
	margin: 0;
	padding: 0;
}
#adbox p {
	font-size: 16px;
}

#adbox div.image {
	width: 852px;
	margin: 0 auto;
	padding: 4px 5px 18px;
}

.carousel-text-container {
	background-color: rgba(92,72,56,.8);
	width: 40%;
	height: 30%;
	top: 40%;
	left: 30%;
	z-index: 99;
	padding-top: 30px;
}


.carousel-text-container h1 {
	font-size: 3em!important;
	width: 69%;
	margin-left: auto!important;
	margin-right: auto!important;
}

.carousel-text-container h2 {
	font-size: 2em!important;
	color: white!important;
	width: 71%;
	margin-left: auto!important;
	margin-right: auto!important;
}

.about {
	margin-bottom: 20px;
	width: 75%;
	height: 300px;
	left: 15%;
}

.about h2 {
	margin-bottom: 20px;
	width: 75%;
	height: 300px;
	left: 15%;
	font-size: 28px!important;
}

.article-image > img {
	margin-top: 15%;
}

.article-image, .article-text {
	width: 50%;
	float: left;
}

.article-text p {
	line-height: 1.5!important;
}



.ads {
	float: right;
	width: 220px;
	border-left: 1px solid #bbbbbb;
	margin-left: 20px;
	padding-left: 20px;
}
hr {
	border:0;
	border-top: 1px solid #bbbbbb;
	margin-bottom: 30px;
}
/** MAIN **/
#main {
	grid-column: 1 / 3;
	grid-row: 2 / 3;
	min-height: 100px;
	width: 100%;
}

.carousel-container {
	margin-bottom: 20px;
}

.bluebox {
	background-color: #5d8bad;
}

#main div.box {
	min-height: 300px;
	margin-top: -20px;
	padding: 30px 0;
}

div.box > section.text-only {
	padding-top: 5%;
}

#main div.box > div {
	padding: 6px 0 0;
}
#main div.box > div > div {
	padding: 17px;
}
#main div.box h3 {
	font-weight: normal;
	letter-spacing: 1px;
	margin: 0;
	padding: 0 0 12px;
	text-transform: uppercase;
}
#main div.box h4 {
	font: 22px/24px "Times New Roman", Times, serif;
	font-weight: normal;
	margin: 6px 0 0;
}
#main div.box h4 a {
	color: #5a4535;
	text-decoration: none;
}
#main div.box ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#main div.box ul li {
	border-bottom: 1px dotted #9c8964;
}
#main div.box ul li span {
	color: #5a4535;
	display: block;
	font-size: 14px;
	margin-bottom: 12px;
}
#main div.box ul li p {
	line-height: 24px;
	padding: 0 0 3px;
}
/*------------------------------ FOOTER ------------------------------*/
footer {
	grid-column: 1 / 4;
	grid-row: 3 / 4;
	color: #594334;
	font-size: 14px;
	line-height: 48px;
	margin: 0;
	padding: 20px 0;
	text-transform: uppercase;
	background-color: rgba(0,0,0,.8);
	border-bottom: 1px solid #72675f;
	border-top: 1px solid #cdbeb2;
}

footer > div {
	height: 48px;
	width: 822px;
	margin: 0 auto;
	padding: 0 20px;
	text-align: center;
}

footer ul.navigation {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}

footer ul.navigation li {
	float: left;
	margin-right: 10px;
}
º
footer ul.navigation li a {
	color: #594334;
	padding: 0 5px;
	text-decoration: none;
}

footer ul.navigation li:first-child a {
	border-left: 0;
	padding-left: 0;
}

footer ul.navigation li a:hover {
	color: #eee7c3;
}

footer ul.navigation li.active a {
	color: #fff;
}

footer p {
	margin: 0;
	text-align: center;
	text-transform: none;
}

/** Connect **/
#connect {
	line-height: 26px;
	width: fit-content;
	margin: 12px auto 0;
}

#connect a {
	background: url(../img/icons.png) no-repeat;
	display: inline-block;
	height: 23px;
	width: 23px;
	margin-left: 10px;
}

#connect a.pinterest {
	background-position: 0 -33px;
}

#connect a.facebook {
	background-position: 0 -98px;
}

#connect a.twitter {
	background-position: 0 -164px;
	width: 28px;
}

#connect a.googleplus {
	background-position: 0 -230px;
}

#connect a.pinterest:hover {
	background-position: 0 0;
}

#connect a.facebook:hover {
	background-position: 0 -65px;
}

#connect a.twitter:hover {
	background-position: 0 -131px;
}

#connect a.googleplus:hover {
	background-position: 0 -197px;
}

.box > section {
	margin: auto;
	max-width: 650px;
}

section.news {
	padding: 6px 0 0;
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	overflow: hidden;
}
	
section.news > article {
	margin-left:1px;
	padding: 17px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-basis: 40%;
}

section.news > article > .icons {
	font-size: 0.8em;
}

section.news > article > ul > li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

section.news > article > ul > li > div {
	width: 50%;
	margin: 4% 1%;
}

section.news > article > ul > li > div > img {
	max-width:100%;
}

section.news {
	flex-grow: 1;
	flex-shrink: 2;
}

section.news > article {
	flex-shrink: 2;
	flex: 1 0 100%;
}

.trademarks > .card {
	min-height: 150px;
}

.royal-card {
	background-color: rgba(92,72,56,.8)!important;
}

.occidental-card {
	background-color: rgba(55,88,93,.8)!important;
}

.allegro-card {
	background-color: rgba(92,43,64,.8)!important;
}

.card-body > img {
	margin: 10% 14%;
}